.bilgilendirme {
    text-align: center;
    padding-top: 65px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom:65px;
    font-size:20px;
    font-family: Helvetica, sans-serif
}

.lolbody {
        background-color: #034f84;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.valobody {
    background-color: #EA4335;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Helvetica, sans-serif
}
.lolimage img {
    width: 350px;
    height: 380px;
    display: inline-block;
    transition: transform 0.3s ease;
    margin: 0 10px;
    display: inline-block;
    object-fit: cover;
    padding: 20px;
    text-align: center;
}
.lolimage img:hover{
    transform: scale(1.15);
    position:relative;
    z-index:10;
}
.valoimage img {
    width: 800px;
    height: 380px;
    display: inline-block;
    transition: transform 0.3s ease;
    margin: 0 10px;
    display: inline-block;
    object-fit: cover;
    padding-bottom:20px;
    text-align: center;
}

 .valoimage img:hover {
    transform: scale(1.10);
    position: relative;
    z-index: 10;

 }